<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b7f67">  <td>19/09/06 14:43:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@464bee09]">feature</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>19/09/06 14:43:44</td>   <td>14067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@464bee09]">feature</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>19/09/06 14:44:00</td>   <td>29780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AbstractTestNGCucumberTests.feature(cucumber.api.testng.CucumberFeatureWrapper)[pri:0, instance:runner.TestRunner@464bee09]">feature</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>19/09/06 14:43:24</td>   <td>-6295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:runner.TestRunner@464bee09]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>19/09/06 14:43:39</td>   <td>8791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:runner.TestRunner@464bee09]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>19/09/06 14:43:55</td>   <td>24530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:runner.TestRunner@464bee09]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>19/09/06 14:43:24</td>   <td>-6700</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:runner.TestRunner@464bee09]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>19/09/06 14:43:38</td>   <td>8069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:runner.TestRunner@464bee09]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>19/09/06 14:43:54</td>   <td>23775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:runner.TestRunner@464bee09]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>19/09/06 14:44:02</td>   <td>31715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:runner.TestRunner@464bee09]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="8b7f67">  <td>19/09/06 14:44:03</td>   <td>32432</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:runner.TestRunner@464bee09]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@36202360</td>   <td></td> </tr>
</table>
